*/config/development
*/logs/log-*.php
!*/logs/index.html
*/cache/*
!*/cache/index.html
!*/cache/.htaccess
images/modules/*
images/session/*
images/cache/*

user_guide_src/build/*
user_guide_src/cilexer/build/*
user_guide_src/cilexer/dist/*
user_guide_src/cilexer/pycilexer.egg-info/*

#codeigniter 3
# application/config/config.php
.DS_Store
application/config/database.php
application/cache
sftp-config.json
/.htaccess
.htaccess
.phpintel
application/logs/*
!application/logs/index.html
!application/logs/.htaccess
/vendor/